extends ../layouts/default

block content
	script(src='/script/dojo.js')
	script(src='/script/windy.js')
	script(src='http://js.arcgis.com/3.8compact')
	script(src='/script/wind.js')
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false")
	script(src='/script/map.js')
	
	#mapCanvas(style="opacity: 0.5; height: 500px;")
	#googlemap(style="width:100%;height:500px")
	
	.info
		p 1933 Peralta St, Oakland, CA 94607	
		p 312 428 1012
		p hi@wind.life 
	.contactform
		
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-6
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						label Name
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label Email
						input(type='email', name='email', value=formData.email).form-control
					.form-group
						label Phone
						input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						label What are you contacting us about?
						select(name='enquiryType').form-control
							option(value='') (select one)
							each type in enquiryTypes
								option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label Message
						textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-primary Send
						

