extends ../layouts/default

block content
	.verticalL
		a.button.icon-left 
	.verticalR
		a.button.icon-right 
	
	.single-portfolio
		.cover
	
			video#videocover(autoplay='', loop='', poster='54.183.64.164/raw-media/first-frame-screencap', muted='')
				source(src="../files/"+data.portfolio.videocover.filename, type='video/mp4')
		
			img#imagecover(src="../../files/"+data.portfolio.cover.filename)
			
			
	
		.projectscroller
			.Description
			
				
				.Short
					h1= data.portfolio.name
					hr
					p=data.portfolio.Short
					//a.url(href="http://"+data.portfolio.URL)= data.portfolio.URL
					
				.overview
					.content
						h3 Objective
						p!= data.portfolio.Objective
						
						h3 Solution
						p!= data.portfolio.Solution
				
					
				
				img.first(src="../../files/"+data.portfolio.image1.filename)
				p.imagedescription= data.portfolio.image1description
			
				
			//h1= data.portfolio
			//img(src="../../files/"+data.portfolio.image.filename)
		